@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%), radial-gradient(at top center, rgba(255,255,255,0.45) 0%, rgba(0,0,0,0.45) 120%) #6c6c6c;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(145deg, #f8f8f8, #e0e0e0);
    border-radius: 15px;
    width: 1100px;
}

.main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#signature-pad {
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 8px;
    cursor: crosshair;
    width: 600px;
    height: 400px;
}

.side-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-controls > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.side-controls label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.side-controls input, .side-controls select {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
}

#mode {
    border: 1px solid #333;
    background-color: #fff;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: auto;
}

.buttons button {
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.7);
    transition: transform 0.2s, box-shadow 0.2s;
}

#clear-button {
    background-color: grey;
}

#undo-button {
    background-color: grey;
}

#download-button {
    background-color: #00b519;
}

.buttons button:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(255, 255, 255, 0.7);
}

.buttons button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 4px rgba(255, 255, 255, 0.7);
}

/* Cursor animation */
#signature-pad {
    cursor: url('https://cdn-icons-png.flaticon.com/512/1067/1067738.png'), auto;
}

